select {
    font-family: inherit;
    background: none;
    background-color: var(--menu-background);
    color: var(--text-strong);
    border-color: var(--menu-border);
}

select > option {
    background: none;
    background-color: var(--menu-background);
    color: var(--text-strong);
    appearance: none;
}
